@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
  --white: #fff;
  --red: #FF3838;

}* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  /* margin: 0; */
}
.wrapper{
  display: flex;
}
.fst-section{
  width: 10%;
}
p{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  margin: 0;
}

ul{
    list-style: none;
    padding: 0;
}
ul li{
  display: flex;
  align-items: center;
}
.reset-txt{
  margin: 0 !important;
}
.white-txt{
  color: #fff;
}
.small-txt {
  font-size: 10px;
  letter-spacing: 0.2px;
}
.container {
  max-width: 1460px;
  margin: auto;
  border: 1px solid black;
  min-height: 958px;
}

/* @media (max-width: 767px){
  .wrapper{
    flex-direction: column;
  }

  .left-section-wrapper, .main-dash-wrapper, .main-dash-wrapper{
    width: 100% !important;
  }
  
} */